### Categorical Data

Machine Learning models are based on equations,we need to replace the text by numbers.So that we can include the numbers in the equations.
Categorical Variables are of 2types:Nominal and Ordinal
Nominal:The categories do not have any numeric ordering

In [4]:
import pandas as pd
dti = pd.date_range('2018-01-01', periods=3, freq='5H')
dti

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 05:00:00',
               '2018-01-01 10:00:00'],
              dtype='datetime64[ns]', freq='5H')

### Splitting Data

### Feature Scaling

In [17]:
import pandas as pd
sp=pd.DataFrame({"Emp id":[111,112,113,114,115],'age':[20,30,40,64,58],'salary':[100000,1200000,320000,6453110,4989565]})
sp

   Emp id  age   salary
0     111   20   100000
1     112   30  1200000
2     113   40   320000
3     114   64  6453110
4     115   58  4989565

In [18]:
from sklearn.preprocessing import scale
a=scale(sp)
a

C:\Users\naresh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64 were all converted to float64 by the scale function.

array([[-1.41421356, -1.35264122, -0.96402239],
       [-0.70710678, -0.74878353, -0.54196871],
       [ 0.        , -0.14492585, -0.87961165],
       [ 0.70710678,  1.30433261,  1.47357162],
       [ 1.41421356,  0.94201799,  0.91203113]])

In [19]:
a=pd.DataFrame(a)
a

          0         1         2
0 -1.414214 -1.352641 -0.964022
1 -0.707107 -0.748784 -0.541969
2  0.000000 -0.144926 -0.879612
3  0.707107  1.304333  1.473572
4  1.414214  0.942018  0.912031

In [20]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sp==sc.fit_transform(sp)
sp

C:\Users\naresh\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\naresh\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

   Emp id  age   salary
0     111   20   100000
1     112   30  1200000
2     113   40   320000
3     114   64  6453110
4     115   58  4989565

### Data

In [22]:
continuous data
Discrete data

SyntaxError: invalid syntax (<ipython-input-22-e583c26e97b4>, line 1)

In [ ]:
Regression models:
linear regression
a.Simple linear regression(1i/p 1o/p)#o/p is continuous and if we have only one input variable
b.Multiple linear regression#o/p is continuous and if we have more than one input variable,then we use MLR
it measures the relationship between all the input variables and the output variable(many to one relationship)
logistic regression

eq for SLR:y=b0+b1x+E
eq for MLR:y=b0+b1x1+b2x2+......+bnxn
    b0-intercept
    b1-coefficient of x
    e-error
Evaluating SLR performance:  
    .r-squared value is used to measure the performance of linear regression also called as cofficient of regression
    It represents the percentage variation in output explained by the input variables

for building regression we are using 7 methods in this we are using ordinary least squares method

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.plot as plt
import seaborn as sns

In [3]:
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf


dat = sm.datasets.get_rdataset("Guerry", "HistData").data # Load data


results = smf.ols('Lottery ~ Literacy + np.log(Pop1831)', data=dat).fit()# Fit regression model (using the natural log of one of the regressors)


print(results.summary())# Inspect the results

                            OLS Regression Results
==============================================================================
Dep. Variable:                Lottery   R-squared:                       0.348
Model:                            OLS   Adj. R-squared:                  0.333
Method:                 Least Squares   F-statistic:                     22.20
Date:                Tue, 06 Aug 2019   Prob (F-statistic):           1.90e-08
Time:                        22:37:09   Log-Likelihood:                -379.82
No. Observations:                  86   AIC:                             765.6
Df Residuals:                      83   BIC:                             773.0
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept         246.4341     35.233      6.995      0.000     176.358     316.510
Literacy           -0.4889      0.128     -3.832      0.000      -0.743      -0.235
np.log(Pop1831)   -31.3114      5.977     -5.239      0.000     -43.199     -19.424
==============================================================================
Omnibus:                        3.713   Durbin-Watson:                   2.019
Prob(Omnibus):                  0.156   Jarque-Bera (JB):                3.394
Skew:                          -0.487   Prob(JB):                        0.183
Kurtosis:                       3.003   Cond. No.                         702.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.