Python list methods

In [1]:
li=['swathi','hello',123,456]#Add single element to the list
li.append(789)
print(li)

['swathi', 'hello', 123, 456, 789]

In [43]:
li1 = ["a", "b" , "c"]#Another way of appending or adding 
li2 = [1, 2, 3]

for x in li2:
    li1.append(x)

print(li1)

['a', 'b', 'c', 1, 2, 3]

In [2]:
li=['swathi','hello',123,456]
li.insert(2,82)#Inserts Element to The List
print(li)

['swathi', 'hello', 82, 123, 456]

In [3]:
li1=[1,2,3]
li2=[4,5,6,7]
li1.extend(li2)#Add one list to other
print(li1)

[1, 2, 3, 4, 5, 6, 7]

In [5]:
li=[1,2,3,4,5,6,7]#adding all elements in a list
print(sum(li))

28

In [7]:
li=[1,2,3,4,2,5,2,6,2]
print(li.count(2))#Total occurence of given number in a list

4

In [8]:
li=[1,2,3,4,2,5,2,6,2]
print(len(li))#Calculating the length of list

9

In [10]:
li=[1,2,3,4,2,5,2,6,2,3]
print(li.index(2))#returns smallest index of element in list

1

In [11]:
li=[1,2,3,4,2,5,2,6,2,3]
print(li.index(2,2))

4

In [12]:
li=[1.2,2.1,3.2,0.1,0.5]
print(min(li))#Calculates minimum of all the elements of List.

0.1

In [13]:
li=[1.2,0.5,4.3,5.9,8.6]
print(max(li))#Calculates maximum of all the elements of list

8.6

In [18]:
li=[1.2,0.5,4.3,5.9,8.6]
sorted(li)
print(li)

[1.2, 0.5, 4.3, 5.9, 8.6]

In [20]:
li=[1.2,0.5,4.3,5.9,8.6]
li.sort(reverse=True)# Sort the list in ascending order
print(li)

[8.6, 5.9, 4.3, 1.2, 0.5]

In [21]:
li=[1.2,0.5,4.3,5.9,8.6]
li.sort(reverse=False)#sort the list in descending order
print(li)

[0.5, 1.2, 4.3, 5.9, 8.6]

In [24]:
li=[1.2,0.5,4.3,5.9,8.6]
print(li.pop())#Removes Element at Given Index if index not given takes last element

8.6

In [25]:
li=[1.2,0.5,4.3,5.9,8.6]
print(li.pop(1))

0.5

In [37]:
li=[1.2,0.5,4.3,5.9,8.6]
del li[0]#Element to be deleted is mentioned using list name and index.
print(li)

[0.5, 4.3, 5.9, 8.6]

In [38]:
del li[1:3]#Deleting multiple items
print(li)

[0.5, 8.6]

In [28]:
li=[1.2,0.5,4.3,5.9,8.6]
li.remove(8.6)#Element to be deleted is mentioned using list name and element
print(li)

[1.2, 0.5, 4.3, 5.9]

In [29]:
li = ['p','r','o','b','l','e','m']
li.clear()#Removes all Items from the List
print(li)

[]

In [30]:
li = ['p','r','o','b','l','e','m']
li.reverse()#Reverse the list
print(li)

['m', 'e', 'l', 'b', 'o', 'r', 'p']

In [31]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

In [34]:
li = ['p','r','o','b','l','e','m']
li[2:3]=[]
print(li)

['p', 'r', 'b', 'l', 'e', 'm']

In [35]:
li[2:5]=[]
print(li)

['p', 'r', 'm']

In [39]:
li = ["apple", "banana", "cherry"]
if "apple" in li:#To determine if a specified item is present in a list use the in keyword
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [40]:
li = ["apple", "banana", "cherry"]
li=li.copy()#copying the list
print(li)

['apple', 'banana', 'cherry']

In [41]:
li=["apple", "banana", "cherry"]
list=list(li)#another way to copying list
print(li)

['apple', 'banana', 'cherry']

### Python Tuples

In [ ]:
A tuple is a collection which is ordered and unchangeable. 
In Python tuples are written with round brackets.
A tuple in Python is similar to a list. 
The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas,
             in a list, elements can be changed.

In [50]:
t = ("apple", "banana", "cherry")
print(t)

('apple', 'banana', 'cherry')

In [51]:
t= ("apple", "banana", "cherry")#Accessing the 2nd element
print(t[1])

banana

In [52]:
t = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(t[2:5])#selecting the range of indexes from where to start and where to end

('cherry', 'orange', 'kiwi')

In [71]:
t = ("apple", "banana", "cherry")# loop through the tuple items by using a for loop.
for x in t:
    print(x)

apple
banana
cherry

In [72]:
t = ("apple", "banana", "cherry")#length of tuple
print(len(t))

3

In [75]:
t1 = (0, 1, 2, 3) 
t2 = ('hello', 'swathi') ## Concatenating above two
t3=t1 + t2
print(t3)

(0, 1, 2, 3, 'hello', 'swathi')

In [1]:
x=("apple","banana","cherry")#Converting tuple to list and adding 
y=list(x)
y[1]="kiwi"
x=tuple(y)
x

('apple', 'kiwi', 'cherry')

In [3]:
li = [0, 1, 2] 
print(tuple(li)) #converting list into tuple
print(tuple('python')) # converting string into python

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')

In [82]:
t=('swathi',)*2  #repeating tuples
print(t)

('swathi', 'swathi')

In [5]:
t = ('a','p','p','l','e',)

print(t.count('p'))  #counting no of times repeating
print(t.index('l'))  #location

2
3

In [83]:
t1 = (0 ,1, 2, 3) #Slicing through tuples
print(t1[1:]) 
print(t1[::-1]) 
print(t1[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [4]:
t = ('swathi',) #creating tuples in a loop 
n = 5  #Number of time loop runs 
for i in range(int(n)): 
    t = (t,) 
    print(t)

(('swathi',),)
((('swathi',),),)
(((('swathi',),),),)
((((('swathi',),),),),)
(((((('swathi',),),),),),)

### Python Dictionary

Python dictionary is an unordered collection of items.
While other compound data types have only value as an element,
               a dictionary has a key: value pair.

In [7]:
# empty dictionary
d= {}
print(d)

{}

In [8]:
# dictionary with integer keys
d= {1: 'hello', 2: 'swathi'}
print(d)

{1: 'hello', 2: 'swathi'}

In [9]:
# dictionary with mixed keys
d = {'name': 'swathi', 1: [2, 4, 3]}
print(d)

{'name': 'swathi', 1: [2, 4, 3]}

In [10]:
# using dict()
d= dict({1:'apple', 2:'ball'})
print(d)

{1: 'apple', 2: 'ball'}

In [11]:
# from sequence having each item as a pair
d= dict([(1,'apple'), (2,'ball')])
d

{1: 'apple', 2: 'ball'}

In [12]:
d= {'name':'swathi', 'age': 25}
d['age'] = 24    # update new value
print(d)

{'name': 'swathi', 'age': 24}

In [13]:
# add item
d['address'] = 'Hyd'  
print(d)

{'name': 'swathi', 'age': 24, 'address': 'Hyd'}

In [14]:
squares = {1:1, 2:4, 3:9, 4:16, 5:25}  
print(squares.pop(4))  # remove a particular item
print(squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}

In [15]:
# remove an arbitrary item
print(squares.popitem())
print(squares)

(5, 25)
{1: 1, 2: 4, 3: 9}

In [17]:
# delete a particular item
del squares[2]  
print(squares)

{1: 1, 3: 9}

In [18]:
# remove all items
squares.clear()
print(squares)

{}

In [2]:
marks = {}.fromkeys(['Math','English','Science'], 0)
print(marks)

for item in marks.items():
    print(item)
list(sorted(marks.keys()))

{'Math': 0, 'English': 0, 'Science': 0}
('Math', 0)
('English', 0)
('Science', 0)

['English', 'Math', 'Science']

In [3]:
squares = {x: x*x for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [4]:
odd_squares = {x: x*x for x in range(11) if x%2 == 1}
print(odd_squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [5]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(1 in squares)
print(2 not in squares)
print(49 in squares)

True
True
False

In [6]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}#Iterating Through a Dictionary
for i in squares:
    print(squares[i])

1
9
25
49
81

In [7]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(len(squares))
print(sorted(squares))

5
[1, 3, 5, 7, 9]